.site-card-border-less-wrapper {
  padding: 120px;
  background: #ececec;
  height:620px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
